{% extends 'base.html' %}



{% block content %}
<div class="container">
  <h1 class="my-5 text-center">{% block title %}Add item to list:{% endblock %}</h1>
  <form method="post">
    <div class="container" style="max-width:875px">    
        <div class="form-group">
            <input class="form-control mb-4 form-control-lg" name="item" id="item" value="{{ request.form['item'] }}" placeholder="Title" required>
            <input class="form-control mb-5 form-control-lg" name="cost" id="cost" value="{{ request.form['cost'] }}" placeholder="Cost" required>
            <button type="submit" class="btn btn-primary btn-lg" value="Save">Save</button>
        </div>
    </div>
  </form>
</div>
{% endblock %}